<%- include ('../sections/admin_header') %>


  <%- include ('../sections/admin_create') %>


  <section id="main">
    <div class="container">
      <div class="row">
        
        <%- include ('../sections/admin_dashboard') %>


        <div class="col-md-9">
          <!-- Website Overview -->
          <div class="panel panel-default">
            <div class="panel-heading main-color-bg">
              <h3 class="panel-title">Users</h3>
            </div>
            <div class="panel-body">
              <br>
              <table class="table table-striped table-hover">
                <tr>
                  <th>Student ID</th>
                  <th>First name</th>
                  <th>Last Name</th>
                  <th>Roll No</th>
                  <th>Class ID</th>
                  <th>Department</th>
                  <th>Semester</th>
                  <th>Address</th>
                  <th>Email ID</th>
                  <th></th>
                </tr>
                <% students.forEach(function(students){ %>
                <tr>
                  <td><%= students.s_id %></td>
                  <td><%= students.fname %></td>
                  <td><%= students.lname %></td>
                  <td><%= students.roll_no %></td>
                  <td><%= students.class_id %></td>
                  <td><%= students.department %></td>
                  <td><%= students.semester %></td>
                  <td><%= students.address %></td>
                  <td><%= students.email_id %></td>
                  <td> <a class="btn btn-danger" href="#">Delete</a></td>
                </tr>
                <%  }); %>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <footer id="footer">
    <p>Copyright Student Management System, &copy; 2020</p>
  </footer>

  <!-- Modals -->

  <!-- Add faculty -->
  <%- include ('../sections/add_faculty') %>


  <!-- Add Student -->
  <%- include ('../sections/add_student') %>

  <!-- Add Courses -->
  <%- include ('../sections/add_course') %>


  <!-- Add Department -->
  <%- include ('../sections/add_department') %>

  <%- include ('../sections/admin_footer') %>